<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
    />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand" href="#">Voting App</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'index' %}">Home</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    <h1> Enviar peticion</h1>

    <form method="post">
        {% csrf_token%}
        <label for="encabezado">Asunto:</label>
        <input type="text" name="encabezado"><br>
        <label for="mensaje">Mensaje :</label>
        <textarea name="mensaje" cols="30" rows="10"></textarea><br>
        <label for="recipiente">Email de destino:</label>
        <input type="email" name="recipiente"><br>
        <button type="submit"> Enviar</button>
    </form>
</body>
</html>